/* Start global variables */
:root {
	--main-color: #2196f3;
	--main-transition-duration: .3s;
	--main-top-and-bottom-padding: 100px;
}
/* End global variables */

/* Start global rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cairo', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
}

.main-title::before {
	left: -30px;
}

.main-title {
	text-transform: uppercase;
	font-size: 30px;
	width: fit-content;
	position: relative;
	margin: 0px auto 80px;
	border: 2px solid black;
	padding: 10px 20px;
	transition-property: color, border;
	transition-delay: .5s;
	transition: color .5s, border .5s;
	transition: color 0s .5s, border 0s .5s;
}

.main-title:hover {
	color: white;
	border: 2px solid white;
	transition-delay: .5s;
}

.main-title::before,
.main-title::after {
	content: "";
	width: 12px;
	height: 12px;
	background-color: var(--main-color);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

.main-title::after {
	right: -30px;
}

.main-title:hover::before {
	animation-name: left-move;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation: left-move .5s linear forwards;
}

.main-title:hover::after {
	animation-name: right-move;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation: right-move .5s linear forwards;
}

/* Container media queries */

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End global rules */

/* Start header section */
.header {
	background-color: white;
	box-shadow: 0 0 10px #ddd;
}

.header .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	position: relative;
}

@media (max-width: 767px) {
	.header .container {
		flex-direction: column;
		flex-flow: column nowrap;
	}
}

.header .container .logo {
	color: var(--main-color);
	font-size: 26px;
	font-weight: bold;
	height: 72px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

@media (max-width: 767px) {
	.header .container .logo {
		width: 100%;
		height: 50px;
	}
}

.header .container .main-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.header .container .main-nav>li>a {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	height: 72px;
	font-size: 18px;
	color: black;
	padding: 0 30px;
	position: relative;
}

@media (max-width: 767px) {
	.header .container .main-nav>li>a {
		font-size: 14px;
		height: 40px;
		padding: 10px;
	}
}

.header .container .main-nav>li>a:hover {
	color: var(--main-color);
	background-color: #fafafa;
}

.header .container .main-nav>li>a::before {
	transition-property: width;
	transition-duration: var(--main-transition-duration);
	transition: width var(--main-transition-duration);
	content: "";
	width: 0;
	height: 4px;
	background-color: var(--main-color);
	position: absolute;
	top: 0;
	left: 0;
}

.header .container .main-nav>li>a:hover::before {
	width: 100%
}

.header .container .main-nav>li:last-child:hover a+.other-links {
	z-index: 100;
	opacity: 1;
	top: calc(100% + 1px);
}

.header .container .main-nav>li:last-child .other-links {
	width: 100%;
	background-color: white; 
	position: absolute;
	top: calc(100% + 50px);
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	border-bottom: 3px solid var(--main-color);
	padding: 30px;
	gap: 40px;
	z-index: -1;
	opacity: 0;
	transition-property: top, opacity;
	transition-duration: var(--main-transition-duration);
	transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
}

@media (max-width: 767px) {
	.header .container .main-nav>li:last-child .other-links {
		display: column;
		flex-flow: column nowrap;
		gap: 0;
		padding: 5px;
	}
}

@media (max-width: 991px) {
	.header .container .main-nav>li:last-child .other-links .image {
		display: none;
	}
}

.header .container .main-nav li .other-links .image img {
	max-width: 100%;
}

.header .container .main-nav li .other-links .links {
	min-width: 250px;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0%;
	flex: 1;
}

.header .container .main-nav li .other-links .links li {
	position: relative;
}

.header .container .main-nav li .other-links .links li::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0;
	height: 100%;
	background-color: #fafafa;
	transition-property: width;
	transition-duration: var(--main-transition-duration);
	transition: width var(--main-transition-duration);
}

.header .container .main-nav li .other-links .links li:hover::before {
	width: 100%;
}

.header .container .main-nav li .other-links .links li:not(:last-child) {
	border-bottom: 1px solid #e9e6e9;
}

@media (max-width: 768px) {
	.header .container .main-nav>li .other-links .links:first-of-type li:last-of-type {
		border-bottom: 1px solid #e9e6e9;
	}
}


.header .container .main-nav li .other-links .links li a {
	color: var(--main-color);
	display: block;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}

.header .container .main-nav li .other-links .links li a i {
	margin-right: 10px;
}
/* End header section */

/* Start landing section */
.landing {
	position: relative;
}

.landing::before {
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #ececec;
	transform: skewY(-6deg);
	transform-origin: top left;
}

.landing .container {
	height: calc(100vh - 72px);
	padding-bottom: 120px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.landing .container .text {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	flex: 1;
}

@media (max-width: 991px) {
	.landing .container .text {
		text-align: center;
	}
}

.landing .container .text h1 {
	font-size: 40px;
	letter-spacing: -2px;
	margin: 0;
}

@media (max-width: 767px) {
	.landing .container .text h1 {
		font-size: 28px;
	}
}

.landing .container .text p {
	color: #666;
	font-size: 23px;
	line-height: 1.7;
	margin: 5px 0 0;
	max-width: 500px;
}

@media (max-width: 767px) {
	.landing .container .text p {
		font-size: 18px;
	}
}

@media (max-width: 991px) {
	.landing .container .text p {
		margin: 10px auto;
	}
}

@media (max-width: 991px) {
	.landing .container .image {
		display: none;
	}
}

.landing .container .image img {
	width: 600px;
	position: relative;
	animation-name: up-and-down;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation: up-and-down 5s linear infinite;
}

.landing .go-down {
	color: var(--main-color);
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.landing .go-down i {
	animation-name: bouncing;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	animation: bouncing 1.5s ease 0s infinite normal none running;
}
/* End landing section */

/* Start articles section */
.articles {
	padding: var(--main-top-and-bottom-padding) 0;
}

.articles .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 40px;
}

.articles .container .box {
	background-color: white;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	transition-property: transform, box-shadow;
	transition-duration: var(--main-transition-duration);
	transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
}

.articles .container .box:hover {
	transform: translateY(-10px);
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .container .box img {
	max-width: 100%;
}

.articles .container .box .content {
	padding: 20px;
}

.articles .container .box .content p {
	margin: 10px 0 0;
	line-height: 1.5;
	color: #777;
}

.articles .container .box .info {
	padding: 20px;
	border-top: 1px solid #e6e6e7;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.articles .container .box .info a {
	color: var(--main-color);
	font-weight: bold;
}

.articles .container .box .info i {
	color: var(--main-color);
}
/* End articles section */

/* Start Keyframes */
@keyframes up-and-down {
	0%, 100% {
		top: 0px;
	}
	
	50% {
		top: -50px;
	}
}

@keyframes bouncing {
	0%, 10%, 20%, 50%, 80%, 100% {
		transform: translateY(0px);
	}
	
	40%, 60% {
		transform: translateY(-15px);
	}
}

@keyframes left-move {
	50% {
		left: 0;
		width: 12px;
		height: 12px;
	}
	
	100% {
		left: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
	}
}

@keyframes right-move {
	50% {
		right: 0;
		width: 12px;
		height: 12px;
	}
	
	100% {
		right: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
	}
}
/* End Keyframes */