/* Start variables */
:root {
	--main-color: #2196f3;
	--alt-color: #1787e0;
	--main-duration: .3s;
	--paragraph-color: #777;
	--paragpraph-line-height: 1.6;
	--section-background-color: #ececec;
	--section-padding: 100px;
	--main-gap: 35px;
}
/* End variables */

/* Start global rules */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Cairo, sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title::before {
	left: -30px;
}

.main-title:hover::before {
	animation: left-move 0.5s linear forwards;
}

.main-title {
	font-size: 30px;
	text-transform: uppercase;
	width: fit-content;
	padding: 10px 20px;
	margin: 0 auto 80px;
	border: 2px solid #000;
	position: relative;
	transition: var(--main-duration);
	z-index: 1;
}

.main-title:hover {
	color: #fff;
	border: 2px solid #fff;
	transition-delay: .5s;
}

.main-title::after {
	right: -30px;
}

.main-title::before,
.main-title::after {
	content: "";
	background-color: var(--main-color);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

.main-title:hover::after {
	animation: right-move 0.5s linear forwards;
}

.spikes::after {
	content: "";
	background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
	background-size: 30px;
	width: 100%;
	height: 30px;
	position: absolute;
	right: 0;
	z-index: 1;
}

.dots {
	background-image: url('../images/dots.png');
	background-repeat: no-repeat;
	width: 204px;
	height: 186px;
	position: absolute;
}

.dots.dots-up {
	top: 200px;
	right: 0;
}

.dots.dots-down {
	bottom: 200px;
	left: 0;
}
/* End global rules */

/* Start header */
header {
	background-color: #fff;
	box-shadow: 0 0 10px #ddd;
}

header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header .container .logo {
	color: var(--main-color);
	font-size: 26px;
	font-weight: bold;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 767px) {
	header .container .logo {
		width: 100%;
		height: 50px;
	}
}

header .container .main-menu {
	display: flex;
}

@media (max-width: 767px) {
	header .container .main-menu {
		margin: auto;
	}
}

header .container .main-menu>li>a::before {
	content: "";
	background-color: var(--main-color);
	width: 0;
	height: 4px;
	position: absolute;
	top: 0;
	left: 0;
	transition: var(--main-duration);
}

header .container .main-menu>li>.active::before {
	width: 100%;
}

header .container .main-menu>li>a:hover::before {
	width: 100%;
}

header .container .main-menu>li>a {
	color: #000;
	font-size: 18px;
	padding: 0 30px;
	position: relative;
	display: flex;
	align-items: center;
	height: 72px;
}

@media (max-width: 767px) {
	header .container .main-menu>li>a {
		font-size: 14px;
		height: 40px;
		padding: 10px;
	}
}

header .container .main-menu>li>.active {
	color: var(--main-color);
	background-color: #fafafa;
}

header .container .main-menu>li>a:hover {
	color: var(--main-color);
	background-color: #fafafa;
}

header .container .main-menu li .mega-menu {
	background-color: #fff;
	column-gap: 40px;
	position: absolute;
	left: 0;
	top: calc(100% + 50px);
	z-index: -1;
	display: flex;
	width: 100%;
	padding: 30px;
	opacity: 0;
	border-bottom: 3px solid var(--main-color);
	transition: opacity var(--main-duration), top var(--main-duration);
}

@media (max-width: 991px) {
	header .container .main-menu li .mega-menu {
		flex-direction: column;
	}
	
	header .container .main-menu li .mega-menu .image {
		display: none;
	}
}

header .container .main-menu li .mega-menu .image img {
	max-width: 100%;
}

header .container .main-menu li .mega-menu .inner-menu {
	min-width: 250px;
	flex: 1;
}

header .container .main-menu li .mega-menu .inner-menu li {
	position: relative;
}

header .container .main-menu li .mega-menu .inner-menu li::before {
	content: "";
	background-color: #fafafa;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: var(--main-duration);
}

header .container .main-menu li .mega-menu .inner-menu li.active::before {
	width: 100%;
}

header .container .main-menu li .mega-menu .inner-menu li:hover::before {
	width: 100%;
}

header .container .main-menu li .mega-menu .inner-menu li a {
	font-size: 18px;
	font-weight: bold;
	color: var(--main-color);
	display: block;
	padding: 15px;
	position: relative;
}

@media (max-width: 991px) {
	header .container .main-menu li .mega-menu .inner-menu:first-of-type li:last-of-type {
		border-bottom: 1px solid #e9e6e6;
	}
}

header .container .main-menu li .mega-menu .inner-menu li:not(:last-of-type) a {
	border-bottom: 1px solid #e9e6e6;
}

header .container .main-menu li .mega-menu .inner-menu li a i {
	margin-right: 10px;
}
/* End header */

/* Start landing */
.landing::before {
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ececec;
	z-index: -1;
	transform-origin: top left;
	transform: skewY(-6deg);
}

.landing {
	position: relative;
}

.landing .container {
	height: calc(100vh - 72px);
	display: flex;
	align-items: center;
	padding-bottom: 120px;
}

.landing .container .text {
	flex: 1;
}

@media (max-width: 767px) {
	.landing .container .text {
		text-align: center;
	}
}

.landing .container .text h1 {
	font-size: 40px;
	letter-spacing: -2px;
	margin: 0;
}

@media (max-width: 767px) {
	.landing .container .text h1 {
		font-size: 28px;
	}
}

.landing .container .text p {
	color: #666;
	font-size: 23px;
	line-height: var(--paragpraph-line-height);
	margin: 5px 0 0;
	max-width: 500px;
}

@media (max-width: 767px) {
	.landing .container .text p {
		font-size: 18px;
	}
}

@media (max-width: 991px) {
	.landing .container .image {
		display: none;
	}
}

.landing .container .image img {
	width: 600px;
	position: relative;
	animation: up-and-down 5s linear infinite;
}

.landing a {
	color: var(--main-color);
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	transition: var(--main-duration);
}

.landing a i {
	animation: bouncing 1.5s infinite;
}
/* End landing */

/* Start articles */
.articles {
	padding: var(--section-padding) 0;
}

.articles .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: var(--main-gap);
}

.articles .container .article {
	background-color: #fff;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	transition: transform var(--main-duration), box-shadow var(--main-duration);
}

.articles .container .article:hover {
	transform: translateY(-10px);
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .container .article img {
	max-width: 100%;
}

.articles .container .article .text {
	padding: 20px;
}

.articles .container .article .text h3 {
	margin: 0;
}

.articles .container .article .text p {
	color: var(--paragraph-color);
	line-height: var(--paragpraph-line-height);
}

.articles .container .article .info {
	padding: 20px;
	border-top: 1px solid #e6e6e7;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.articles .container .article .info a {
	font-weight: bold;
	color: var(--main-color);
}

.articles .container .article .info i {
	color: var(--main-color);
	animation: 
}

.articles .container .article:hover .info i {
	animation: moving-arrow .6s linear infinite;
}
/* End articles */

/* Start gallery */
.gallery {
	padding: var(--section-padding) 0;
	background-color: var(--section-background-color);
}

.gallery .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.gallery .container .box {
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.gallery .container .box .image::before {
	content: "";
	background-color: rgb(255 255 255 / 20%);
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	z-index: 1;
}

.gallery .container .box .image:hover::before {
	animation: flashing .7s;
}

.gallery .container .box .image {
	position: relative;
	overflow: hidden;
}

.gallery .container .box .image img {
	max-width: 100%;
	transition: var(--main-duration);
}

.gallery .container .box .image:hover img {
	transform: rotate(5deg) scale(1.1);
}

/* End gallery */

/* Start features */
.features {
	padding: var(--section-padding) 0;
}

.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.features .container .feature {
	text-align: center;
	border: 1px solid #ccc;
}

.features .container .feature .image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.features .container .feature.quality .image::before {
	background-color: rgb(244 64 54 / 60%);
}

.features .container .feature.time .image::before {
	background-color: rgb(0 150 136 / 60%);
}

.features .container .feature.passion .image::before {
	background-color: rgb(3 169 244 / 60%);
}

.features .container .feature .image::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	border-width: 0 0 170px 500px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	transition: var(--main-duration);
}

.features .container .feature:hover .image::after {
	border-width: 170px 500px 170px 0;
}

.features .container .feature .image {
	position: relative;
	overflow: hidden;
}

.features .container .feature .image img {
	max-width: 100%;
}

.features .container .feature h2 {
	font-size: 40px;
	width: fit-content;
	margin: auto;
	position: relative;
}

.features .container .feature h2::after {
	content: "";
	width: calc(100% - 30px);
	height: 5px;
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
}

.features .container .feature.quality h2::after {
	background-color: #f44036;
}

.features .container .feature.time h2::after {
	background-color: #009688;
}

.features .container .feature.passion h2::after {
	background-color: #03a9f4;
}

.features .container .feature p {
	color: var(--paragraph-color);
	font-size: 20px;
	line-height: var(--paragpraph-line-height);
	padding: 25px;
	margin: 30px 0;
}

.features .container .feature a {
	background-size: 200% 100%;
	background-position: right bottom;
	font-size: 22px;
	font-weight: bold;
	display: block;
	width: fit-content;
	padding: 10px 30px;
	margin: 0 auto 30px;
	border: 3px solid transparent;
	border-radius: 6px;
	transition: var(--main-duration);
}

.features .container .feature.quality a {
	color: #f44036;
	border-color: #f44036;
	background-image: linear-gradient(to right, #f44036 50%, #fff 50%);

}

.features .container .feature.time a {
	color: #009688;
	border-color: #009688;
	background-image: linear-gradient(to right, #009688 50%, #fff 50%);
}

.features .container .feature.passion a {
	color: #03a9f4;
	border-color: #03a9f4;
	background-image: linear-gradient(to right, #03a9f4 50%, #fff 50%);
}

.features .container .feature:hover a {
	background-position: left bottom;
	color: #fff;
}
/* End features */

/* Start testimonials */
.testimonials {
	background-color: var(--section-background-color);
	padding: var(--section-padding) 0;
}

.testimonials .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.testimonials .container .test {
	background-color: #fff;
	position: relative;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.testimonials .container .test img {
	width: 100px;
	height: 100px;
	position: absolute;
	right: -10px;
	top: 0;
	transform: translateY(-50%);
	border: 10px solid var(--section-background-color);
	border-radius: 50%;
}

.testimonials .container .test h3 {
	margin: 0 0 10px;
}

.testimonials .container .test span {
	color: var(--paragraph-color);
	display: block;
	margin-bottom: 10px;
}

.testimonials .container .test .rate .filled {
	color: #ffc107;
}

.testimonials .container .test p {
	color: var(--paragraph-color);
	line-height: var(--paragpraph-line-height);
	margin: 10px 0 0;
}
/* End testimonials */

/* Start members */
.members {
	padding: var(--section-padding) 0;
}

.members .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.members .container .member::before,
.members .container .member::after {
	content: "";
	background-color: #f3f3f3;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border-radius: 10px;
	transition: var(--main-duration);
}

.members .container .member::before {
	width: calc(100% - 60px);
	z-index: -1;
}

.members .container .member {
	position: relative;
}

.members .container .member::after {
	z-index: -1;
	background-color: #e4e4e4;
	width: 0;
}

.members .container .member:hover::after {
	width: calc(100% - 60px);
}

.members .container .member .data {
	display: flex;
	align-items: center;
	padding-top: 60px;
}

.members .container .member .data img {
	width: calc(100% - 60px);
	transition: var(--main-duration);
	border-radius: 10px;
}

.members .container .member:hover .data img {
	filter: grayscale(100%);
}

.members .container .member .data .social {
	width: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.members .container .member .data .social a {
	width: 60px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.members .container .member .data .social a i {
	color: #777;
	transition: var(--main-duration);
}

.members .container .member .data .social a:hover i {
	color: var(--main-color);
}

.members .container .member .info {
	padding-left: 80px;
}

.members .container .member .info h3 {
	font-size: 22px;
	color: var(--main-color);
	margin-bottom: 0;
	transition: var(--main-duration);
}

.members .container .member:hover .info h3 {
	color: #777;
}

.members .container .member .info p {
	margin: 10px 0 25px;
}
/* End members */

/* Start services */
.services {
	background-color: var(--section-background-color);
	padding: var(--section-padding) 0;
}

.services .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.services .container .service::before {
	content: "";
	background-color: var(--main-color);
	width: 0;
	height: 3px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
	transition: var(--main-duration);
}

.services .container .service:hover::before {
	width: 100%;
}

.services .container .service {
	counter-increment: service;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
	position: relative;
	transition: var(--main-duration);
}

.services .container .service:hover {
	transform: translateY(-10px);
}

.services .container .service i {
	color: #d5d5d5;
	margin: 30px auto 20px;
}

.services .container .service h3 {
	color: var(--main-color);
	font-size: 25px;
	margin: 20px 0 40px;
}

.services .container .service .details::before {
	content: "0" counter(service);
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	background-color: var(--main-color);
	width: 80px;
	height: 100%;
	padding-right: 15px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services .container .service .details {
	padding: 15px;
	background-color: #f9f9f9;
	text-align: right;
	position: relative;
}

.services .container .service .details::after {
	content: "";
	background-color: #d5d5d5;
	width: 50px;
	height: calc(100% + .4px);
	position: absolute;
	top: 0;
	left: 80px;
	transform: skewX(-30deg);
}

.services .container .service .details a {
	color: var(--main-color);
}
/* End services */

/* Start skills */
.skills {
	padding: var(--section-padding) 0;
}

.skills .container {
	display: flex;
	align-items: center;
}

@media (max-width: 991px) {
	.skills .container img {
		display: none;
	}
}

.skills .container .skills-container {
	flex: 1;
}

.skills .container .skills-container .skill .progress::before {
	content: attr(data-progress);
	color: var(--main-color);
	font-size: 12px;
	font-weight: bold;
	padding: 3px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(calc(-100% - 1em));
}

.skills .container .skills-container .skill .progress {
	background-color: #eee;
	position: relative;
	height: 30px;
}

.skills .container .skills-container .skill .progress div {
	background-color: var(--main-color);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

/* End skills */

/* Start how it works */
.how-it-works {
	background-color: var(--section-background-color);
	padding: var(--section-padding) 0;
}

.how-it-works .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 991px) {
	.how-it-works .container {
		flex-direction: column;
	}
}

.how-it-works .container>img {
	max-width: 100%;
	margin-right: 100px;
}

@media (max-width: 991px) {
	.how-it-works .container>img {
		margin: 0 0 50px;
	}
}

.how-it-works .container .steps .step::before {
	content: "";
	background-color: #ededed;
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
	transition: var(--main-duration);
}

.how-it-works .container .steps .step:hover::before {
	width: 100%;
	height: 100%;
}

.how-it-works .container .steps .step {
	background-color: #f6f5f5;
	padding: 30px;
	margin-bottom: 20px;
	border: 2px solid #fff;
	border-radius: 6px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}

@media (max-width: 767px) {
	.how-it-works .container .steps .step {
		text-align: center;
		flex-direction: column;
	}
}

.how-it-works .container .steps .step img {
	width: 64px;
	margin-right: 30px;
}

@media (max-width: 767px) {
	.how-it-works .container .steps .step img {
		margin: 0 0 30px;
	}
}

.how-it-works .container .steps .step .text h3 {
	font-size: 22px;
	margin: 0;
}

.how-it-works .container .steps .step .text p {
	color: #777;
	font-size: 18px;
	line-height: var(--paragpraph-line-height);
	margin: 10px 0 0;
}
/* End how it works */

/* Start events */
.events {
	padding: var(--section-padding) 0;
}

.events .container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.events .container img {
	max-width: 450px;
}

@media (max-width: 991px) {
	.events .container img {
		display: none;
	}
}

.events .container .info {
	flex: 1;
}

.events .container .info .time {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 20px 0;
}

.events .container .info .time .unit {
	text-align: center;
	width: 75px;
	border: 1px solid #d4d4d4;
	border-radius: 6px;
	transition: var(--main-duration);
}

.events .container .info .time .unit:hover {
	border-color: var(--main-color);
}

.events .container .info .time .unit span {
	display: block;
}

.events .container .info .time .unit span:first-of-type {
	color: var(--main-color);
	font-size: 35px;
	font-weight: bold;
	padding: 15px;
}

.events .container .info .time .unit span:last-of-type {
	font-size: 13px;
	padding: 8px 10px;
	border-top: 1px solid #d4d4d4;
	transition: var(--main-duration);
}

.events .container .info .time .unit:hover span:last-of-type {
	border-color: var(--main-color);
}

.events .container .info h2 {
	font-size: 30px;
	text-align: center;
	margin: 40px 0 0;
}

.events .container .info p {
	color: var(--paragraph-color);
	font-size: 19px;
	text-align: center;
	line-height: var(--paragpraph-line-height);
}

.events .container .subscribe {
	width: 100%;
	margin-top: 50px;
}

.events .container .subscribe form {
	background-color: #f6f5f5;
	width: 600px;
	padding: 30px 40px;
	margin: 20px auto;
	border-radius: 50px;
	display: flex;
	gap: 20px;
}

@media (max-width: 767px) {
	.events .container .subscribe form {
		max-width: 100%;
		padding: 20px;
		flex-direction: column;
		border-radius: 0;
	}
}

.events .container .subscribe form input[type="email"] {
	caret-color: var(--main-color);
	padding: 20px;
	outline: none;
	border: none;
	border-radius: 50px;
	flex: 1;
}

@media (max-width: 767px) {
	.events .container .subscribe form input[type="email"] {
		border-radius: 0;
	}
}

.events .container .subscribe form input[type="email"]::placeholder {
	transition: var(--main-duration);
}

.events .container .subscribe form input[type="email"]:focus::placeholder {
	opacity: 0;
}

.events .container .subscribe form input[type="submit"] {
	background-color: var(--main-color);
	color: #fff;
	font-weight: bold;
	padding: 20px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: var(--main-duration);
}

.events .container .subscribe form input[type="submit"]:hover {
	background-color: var(--alt-color); 
}

@media (max-width: 767px) {
	.events .container .subscribe form input[type="submit"] {
		border-radius: 0;
	}
}
/* End events */

/* Start plans */
.plans {
	position: relative;
	background-color: var(--section-background-color);
	padding: var(--section-padding) 0;
}

.plans .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.plans .container .plan::before {
	top: 0;
	left: 0;
}

.plans .container .plan:hover::before {
	width: 100%;
}

.plans .container .plan {
	background-color: #fff;
	text-align: center;
	box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
	position: relative;
	z-index: 1;
}

.plans .container .plan .label::before {
	content: "";
	position: absolute;
	bottom: -1px;
	right: 0;
	border-width: 20px;
	border-style: solid;
	border-color: transparent transparent #fff;
}

@media (min-width: 1200px) {
	.plans .container .plan:nth-of-type(2) {
		top: -20px;
	}
}

.plans .container .plan .label {
	background-color: var(--main-color);
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	writing-mode: vertical-rl;
	width: 40px;
	padding: 10px 10px 35px;
	position: absolute;
	right: 20px;
}

.plans .container .plan::after {
	bottom: 0;
	right: 0;
}

.plans .container .plan:hover::after {
	width: 100%;
}

.plans .container .plan::before,
.plans .container .plan::after {
	content: "";
	background-color: #f6f6f6;
	width: 0;
	height: 50%;
	position: absolute;
	z-index: -1;
	transition: var(--main-duration);
}

.plans .container .plan .title {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 30px auto;
}

.plans .container .plan img {
	width: 80px;
	margin-bottom: 30px;
}

.plans .container .plan .price {
	margin-bottom: 20px;
}

.plans .container .plan .price span:first-of-type {
	color: var(--main-color);
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

.plans .container .plan .price span:last-of-type {
	color: #777;
}

.plans .container .plan ul {
	text-align: left;
}

.plans .container .plan ul li::before {
	font-family: "Font Awesome 5 Free";
	content: "\f00c";
	font-weight: 900;
	color: var(--main-color);
	margin-right: 10px;
}

.plans .container .plan ul li {
	padding: 20px;
	border-top: 1px solid #eee;
}

.plans .container .plan a {
	color: var(--main-color);
	font-weight: bold;
	display: block;
	width: fit-content;
	padding: 15px 20px;
	margin: 30px auto 40px;
	border: 2px solid var(--main-color);
	border-radius: 6px;
	transition: var(--main-duration);
}

.plans .container .plan a:hover {
	background-color: var(--main-color);
	color: #fff;
}
/* End plans */

/* Start top videos */
.top-videos {
	padding: var(--section-padding) 0;
}

.top-videos .container .videos-container {
	background-color: var(--section-background-color);
	display: flex;
	border: 1px solid #ddd;
}

@media (max-width: 991px) {
	.top-videos .container .videos-container {
		flex-direction: column;
	}
}

.top-videos .container .videos-container .list {
	background-color: #fff;
	min-width: 300px;
}

.top-videos .container .videos-container .list .name {
	background-color: #f4f4f4;
	font-weight: bold;
	color: var(--main-color);
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.top-videos .container .videos-container .list ul li {
	padding: 20px;
	border-top: 1px solid #ececec;
	cursor: pointer;
	transition: var(--main-duration);
}

.top-videos .container .videos-container .list ul li:hover {
	background-color: #fafafa;
	color: var(--main-color);
}

.top-videos .container .videos-container .list ul li span {
	color: #777;
	display: block;
	margin-top: 10px;
}

.top-videos .container .videos-container .preview {
	background-color: #e2e2e2;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top-videos .container .videos-container .preview img {
	max-width: 100%;
}

.top-videos .container .videos-container .preview .info {
	background-color: #fff;
	padding: 20px;
	margin-top: 10px;
}
/* End top videos */

/* Start stats */
.stats::before {
	content: "";
	background-color: rgb(255 255 255 / 95%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.stats {
	background-image: url('../images/stats.jpg');
	background-size: cover;
	padding: var(--section-padding) 0;
	position: relative;
}

.stats h2 {
	font-size: 40px;
	font-weight: bold;
	width: fit-content;
	margin: 0 auto 50px;
	position: relative;
}

.stats .container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: var(--main-gap);
}

.stats .container .stat::before {
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
}

.stats .container .stat {
	background-color: #fff;
	text-align: center;
	padding: 30px 15px;
	opacity: .8;
	position: relative;
	transition: var(--main-duration);
}

.stats .container .stat:hover {
	opacity: 1;
}

.stats .container .stat::after {
	top: 0;
	right: 0;
	transform: translateX(100%);
}

.stats .container .stat::before,
.stats .container .stat::after {
	content: "";
	background-color: var(--main-color);
	height: 0;
	width: 2px;
	position: absolute;
	transition: 1s;
}

.stats .container .stat:hover::before,
.stats .container .stat:hover::after {
	height: 100%;
}

.stats .container .stat span:first-of-type {
	font-size: 50px;
	font-weight: bold;
	display: block;
	margin: 10px 0;
}

.stats .container .stat span:last-of-type {
	color: var(--main-color);
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
/* End stats */

/* Start animations */
@keyframes up-and-down {
	0%, 100% {
		top: 0;
	}
	50% {
		top: -50px;
	}
}

@keyframes bouncing {
	0%, 10%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40%, 60% {
		transform: translateY(-15px);
	}
}

@keyframes right-move {
	50% {
		right: 0;
		width: 12px;
		height: 12px;
	} 
	100% {
		right: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
	}
}

@keyframes left-move {
	50% {
		left: 0;
		width: 12px;
		height: 12px;
	} 
	100% {
		left: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
	}
}

@keyframes moving-arrow {
	100% {
		transform: translateX(10px);
	}
}

@keyframes flashing {
	0%, 40% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		width: 200%;
		height: 200%;
	}
}
/* End animations */