/* Start variables */
:root {
	--main-color: #2196f3;
	--main-duration: .3s;
	--paragraph-color: #777;
	--paragpraph-line-height: 1.6;
	--section-background-color: #ececec;
	--section-padding: 100px;
	--main-gap: 40px;
}
/* End variables */

/* Start global rules */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Cairo, sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title::before {
	left: -30px;
}

.main-title:hover::before {
	animation: left-move 0.5s linear forwards;
}

.main-title {
	font-size: 30px;
	text-transform: uppercase;
	width: fit-content;
	padding: 10px 20px;
	margin: 0 auto 80px;
	border: 2px solid #000;
	position: relative;
	transition: var(--main-duration);
	z-index: 1;
}

.main-title:hover {
	color: #fff;
	border: 2px solid #fff;
	transition-delay: .5s;
}

.main-title::after {
	right: -30px;
}

.main-title::before,
.main-title::after {
	content: "";
	background-color: var(--main-color);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

.main-title:hover::after {
	animation: right-move 0.5s linear forwards;
}

.spikes::after {
	content: "";
	background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
	background-size: 30px;
	width: 100%;
	height: 30px;
	position: absolute;
	right: 0;
}
/* End global rules */

/* Start header */
header {
	background-color: #fff;
	box-shadow: 0 0 10px #ddd;
}

header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header .container .logo {
	color: var(--main-color);
	font-size: 26px;
	font-weight: bold;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 767px) {
	header .container .logo {
		width: 100%;
		height: 50px;
	}
}

header .container .main-menu {
	display: flex;
}

@media (max-width: 767px) {
	header .container .main-menu {
		margin: auto;
	}
}

header .container .main-menu>li>a::before {
	content: "";
	background-color: var(--main-color);
	width: 0;
	height: 4px;
	position: absolute;
	top: 0;
	left: 0;
	transition: var(--main-duration);
}

header .container .main-menu>li>.active::before {
	width: 100%;
}

header .container .main-menu>li>a:hover::before {
	width: 100%;
}

header .container .main-menu>li>a {
	color: #000;
	font-size: 18px;
	padding: 0 30px;
	position: relative;
	display: flex;
	align-items: center;
	height: 72px;
}

@media (max-width: 767px) {
	header .container .main-menu>li>a {
		font-size: 14px;
		height: 40px;
		padding: 10px;
	}
}

header .container .main-menu>li>.active {
	color: var(--main-color);
	background-color: #fafafa;
}

header .container .main-menu>li>a:hover {
	color: var(--main-color);
	background-color: #fafafa;
}

header .container .main-menu li .mega-menu {
	background-color: #fff;
	column-gap: 40px;
	position: absolute;
	left: 0;
	top: calc(100% + 50px);
	z-index: -1;
	display: flex;
	width: 100%;
	padding: 30px;
	opacity: 0;
	border-bottom: 3px solid var(--main-color);
	transition: opacity var(--main-duration), top var(--main-duration);
}

@media (max-width: 991px) {
	header .container .main-menu li .mega-menu {
		flex-direction: column;
	}
	
	header .container .main-menu li .mega-menu .image {
		display: none;
	}
}

header .container .main-menu li .mega-menu .image img {
	max-width: 100%;
}

header .container .main-menu li .mega-menu .inner-menu {
	min-width: 250px;
	flex: 1;
}

header .container .main-menu li .mega-menu .inner-menu li {
	position: relative;
}

header .container .main-menu li .mega-menu .inner-menu li::before {
	content: "";
	background-color: #fafafa;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: var(--main-duration);
}

header .container .main-menu li .mega-menu .inner-menu li.active::before {
	width: 100%;
}

header .container .main-menu li .mega-menu .inner-menu li:hover::before {
	width: 100%;
}

header .container .main-menu li .mega-menu .inner-menu li a {
	font-size: 18px;
	font-weight: bold;
	color: var(--main-color);
	display: block;
	padding: 15px;
	position: relative;
}

@media (max-width: 991px) {
	header .container .main-menu li .mega-menu .inner-menu:first-of-type li:last-of-type {
		border-bottom: 1px solid #e9e6e6;
	}
}

header .container .main-menu li .mega-menu .inner-menu li:not(:last-of-type) a {
	border-bottom: 1px solid #e9e6e6;
}

header .container .main-menu li .mega-menu .inner-menu li a i {
	margin-right: 10px;
}
/* End header */

/* Start landing */
.landing::before {
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ececec;
	z-index: -1;
	transform-origin: top left;
	transform: skewY(-6deg);
}

.landing {
	position: relative;
}

.landing .container {
	height: calc(100vh - 72px);
	display: flex;
	align-items: center;
	padding-bottom: 120px;
}

.landing .container .text {
	flex: 1;
}

@media (max-width: 767px) {
	.landing .container .text {
		text-align: center;
	}
}

.landing .container .text h1 {
	font-size: 40px;
	letter-spacing: -2px;
	margin: 0;
}

@media (max-width: 767px) {
	.landing .container .text h1 {
		font-size: 28px;
	}
}

.landing .container .text p {
	color: #666;
	font-size: 23px;
	line-height: var(--paragpraph-line-height);
	margin: 5px 0 0;
	max-width: 500px;
}

@media (max-width: 767px) {
	.landing .container .text p {
		font-size: 18px;
	}
}

@media (max-width: 991px) {
	.landing .container .image {
		display: none;
	}
}

.landing .container .image img {
	width: 600px;
	position: relative;
	animation: up-and-down 5s linear infinite;
}

.landing a {
	color: var(--main-color);
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	transition: var(--main-duration);
}

.landing a i {
	animation: bouncing 1.5s infinite;
}
/* End landing */

/* Start articles */
.articles {
	padding: var(--section-padding) 0;
}

.articles .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: var(--main-gap);
}

.articles .container .article {
	background-color: #fff;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	transition: transform var(--main-duration), box-shadow var(--main-duration);
}

.articles .container .article:hover {
	transform: translateY(-10px);
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .container .article img {
	max-width: 100%;
}

.articles .container .article .text {
	padding: 20px;
}

.articles .container .article .text h3 {
	margin: 0;
}

.articles .container .article .text p {
	color: var(--paragraph-color);
	line-height: var(--paragpraph-line-height);
}

.articles .container .article .info {
	padding: 20px;
	border-top: 1px solid #e6e6e7;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.articles .container .article .info a {
	font-weight: bold;
	color: var(--main-color);
}

.articles .container .article .info i {
	color: var(--main-color);
	animation: 
}

.articles .container .article:hover .info i {
	animation: moving-arrow .6s linear infinite;
}
/* End articles */

/* Start gallery */
.gallery {
	padding: var(--section-padding) 0;
	background-color: var(--section-background-color);
}

.gallery .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.gallery .container .box {
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.gallery .container .box .image::before {
	content: "";
	background-color: rgb(255 255 255 / 20%);
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	z-index: 1;
}

.gallery .container .box .image:hover::before {
	animation: flashing .7s;
}

.gallery .container .box .image {
	position: relative;
	overflow: hidden;
}

.gallery .container .box .image img {
	max-width: 100%;
	transition: var(--main-duration);
}

.gallery .container .box .image:hover img {
	transform: rotate(5deg) scale(1.1);
}

/* End gallery */

/* Start features */
.features {
	padding: var(--section-padding) 0;
}

.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.features .container .feature {
	text-align: center;
	border: 1px solid #ccc;
}

.features .container .feature .image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.features .container .feature.quality .image::before {
	background-color: rgb(244 64 54 / 60%);
}

.features .container .feature.time .image::before {
	background-color: rgb(0 150 136 / 60%);
}

.features .container .feature.passion .image::before {
	background-color: rgb(3 169 244 / 60%);
}

.features .container .feature .image::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	border-width: 0 0 170px 500px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	transition: var(--main-duration);
}

.features .container .feature:hover .image::after {
	border-width: 170px 500px 170px 0;
}

.features .container .feature .image {
	position: relative;
	overflow: hidden;
}

.features .container .feature .image img {
	max-width: 100%;
}

.features .container .feature h2 {
	font-size: 40px;
	width: fit-content;
	margin: auto;
	position: relative;
}

.features .container .feature h2::after {
	content: "";
	width: calc(100% - 30px);
	height: 5px;
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
}

.features .container .feature.quality h2::after {
	background-color: #f44036;
}

.features .container .feature.time h2::after {
	background-color: #009688;
}

.features .container .feature.passion h2::after {
	background-color: #03a9f4;
}

.features .container .feature p {
	color: var(--paragraph-color);
	font-size: 20px;
	line-height: var(--paragpraph-line-height);
	padding: 25px;
	margin: 30px 0;
}

.features .container .feature a {
	background-size: 200% 100%;
	background-position: right bottom;
	font-size: 22px;
	font-weight: bold;
	display: block;
	width: fit-content;
	padding: 10px 30px;
	margin: 0 auto 30px;
	border: 3px solid transparent;
	border-radius: 6px;
	transition: var(--main-duration);
}

.features .container .feature.quality a {
	color: #f44036;
	border-color: #f44036;
	background-image: linear-gradient(to right, #f44036 50%, #fff 50%);

}

.features .container .feature.time a {
	color: #009688;
	border-color: #009688;
	background-image: linear-gradient(to right, #009688 50%, #fff 50%);
}

.features .container .feature.passion a {
	color: #03a9f4;
	border-color: #03a9f4;
	background-image: linear-gradient(to right, #03a9f4 50%, #fff 50%);
}

.features .container .feature:hover a {
	background-position: left bottom;
	color: #fff;
}
/* End features */

/* Start testimonials */
.testimonials {
	background-color: var(--section-background-color);
	padding: var(--section-padding) 0;
}

.testimonials .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.testimonials .container .test {
	background-color: #fff;
	position: relative;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.testimonials .container .test img {
	width: 100px;
	height: 100px;
	position: absolute;
	right: -10px;
	top: 0;
	transform: translateY(-50%);
	border: 10px solid var(--section-background-color);
	border-radius: 50%;
}

.testimonials .container .test h3 {
	margin: 0 0 10px;
}

.testimonials .container .test span {
	color: var(--paragraph-color);
	display: block;
	margin-bottom: 10px;
}

.testimonials .container .test .rate .filled {
	color: #ffc107;
}

.testimonials .container .test p {
	color: var(--paragraph-color);
	line-height: var(--paragpraph-line-height);
	margin: 10px 0 0;
}

/* End testimonials */

/* Start animations */
@keyframes up-and-down {
	0%, 100% {
		top: 0;
	}
	50% {
		top: -50px;
	}
}

@keyframes bouncing {
	0%, 10%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40%, 60% {
		transform: translateY(-15px);
	}
}

@keyframes right-move {
	50% {
		right: 0;
		width: 12px;
		height: 12px;
	} 
	100% {
		right: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
	}
}

@keyframes left-move {
	50% {
		left: 0;
		width: 12px;
		height: 12px;
	} 
	100% {
		left: 0;
		border-radius: 0;
		width: 50%;
		height: 100%;
	}
}

@keyframes moving-arrow {
	100% {
		transform: translateX(10px);
	}
}

@keyframes flashing {
	0%, 40% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		width: 200%;
		height: 200%;
	}
}
/* End animations */